.Copyright {
    text-align: center;
}

.Copyright h3 {
    margin: 20px 0 10px;
    font-size: 16px;
    color: #777;
}

.Copyright h3 span {
    font-weight: bold;
    color: #333;
}

.Copyright h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #777;
}